.header{
    background-color: black;
    color: white;
}
.navbar-brand{
    color: yellow;
    font-size: 25pt;
}
.nav-link{
    color: white;
}
.nav-link:hover,
.navbar-brand:hover{
    color: yellow;
}
.btn-outline-success{
    border: yellow solid 2px;
    color: yellow;
}
.btn-outline-success:hover{
    background-color: yellow;
    border: black solid 2px;
    color: black;
}
.fa-bars{
    color: yellow;
    font-size: 100px;
}
.sobre{
    margin: auto;
    margin: 100px 50px 50px 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 20px;
}
.sobre h2{
    color: yellow;
    text-align: center;
}
.sobre a{
    text-align: center;
    background-color: yellow;
    color: black;
    border: black solid 2px;
    font-weight: 600;
}
.sobre a:hover{
    background-color: black;
    color: yellow;
    border: yellow solid 2px;
}
.sobre p{
    text-align: justify;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
}
footer p{
    text-align: center;
}

#servicos{
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

#servicos h2,
#agendar h2,
#contatos h2{
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
}

#servicos .servicos{
    display: flex;
}

#servicos .servicos div{
    margin: 20px;
}

#servicos a{
    background-color: yellow;
    border: 2px solid black;
    color: black;
}

#servicos a:hover{
    background-color: black;
    border: 2px solid yellow;
    color: yellow;
}

#agendar{
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

#agendar .agendar{
    margin-top: 30px;
}

#agendar .agendar input[type="button"]{
    background-color: yellow;
    margin-top: 10px;
    font-weight: 700;
}

#contatos{
    width: 1200px;
    margin: auto;
}

#contatos .contatos{
    display: flex;
}

#contatos .contatos form{
    width: 500px;
    margin: auto;
}

#contatos .contatos form legend{
    text-align: center;
    margin-bottom: 10px;
}

#contatos .contatos iframe{
    margin-top: 50px;
    margin-bottom: 50px;

}

footer img{
    width: 150px;
    border-radius: 30%;
}

footer a{
    text-align: right;
    color: #fff;
}

